@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif; */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
}

.first-section {
	padding: 35px 25px 25px 25px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.first-section .address {
	color: rgba(184, 188, 204, 0.5);
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.first-section span {
	color: #b8bccc;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.first-section .location-div {
	color: rgba(184, 188, 204, 0.5);
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	display: flex;
}

.first-section .location-div div {
	width: 30%;
}

.second-section {
	width: 100%;
	height: 100vh;
	margin-top: 45px;
	background: #575a85;
}

.second-section h3 {
	color: #b8bccc;
	text-align: center;
	font-family: Montserrat;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding: 20px;
}

.second-section .frame {
	width: 100%;
	height: calc(100% - 98.4px);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 30px 50px 30px;
}

.third-section {
	margin: auto;
	width: 80%;
	margin-top: 40px;
	margin-bottom: 40px;
}

.third-section h3 {
	color: #b8bccc;
	text-align: center;
	font-family: Montserrat;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.third-section > div {
	color: rgba(184, 188, 204, 0.5);
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	/* padding-left: 140px; */
	margin-top: 40px;
}

.third-section > div > div {
	margin-top: 25px;
}

.third-section span {
	color: rgba(184, 188, 204, 0.5);
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.fourth-section {
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	width: 80%;
}

.fourth-section h3 {
	color: #b8bccc;
	text-align: center;
	font-family: Montserrat;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.fourth-section > .search-bar {
	margin-top: 40px;
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 10px;
	border-radius: 10px;
	border: 3px solid #575a85;
	padding: 15px;
	/* margin-left: 140px;
	margin-right: 140px; */
}

.search-bar > img:nth-child(1) {
	width: 20px;
	color: #b8bccc;
}

.search-bar > input:nth-child(2) {
	background: transparent;
	border: none;
	outline: none;
	color: #b8bccc;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 100%;
}

.branch {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	margin: auto;
	margin-top: 40px;
	justify-content: center;
	align-items: center;
	/* width: 78%; */
}

.branches {
	border-radius: 10px;
	background: #575a85;
	color: #b8bccc;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	/* width: 50%; */
}
